In [1]:
import pandas as pd
import glob

In [4]:
dir_list = glob.glob('./Fitbit/ShiYangLee/Sleep/Daily Heart Rate Variability Summary -*.csv')
dfs = []
for file in dir_list:
    data = pd.read_csv(file)
    dfs.append(data)
temp = pd.concat(dfs, ignore_index = True)
temp.head()

             timestamp   rmssd  nremhr  entropy
0  2022-03-14T00:00:00  47.836  55.187    2.793
1  2022-04-06T00:00:00  61.240  51.390    2.882
2  2022-04-07T00:00:00  47.564  55.114    2.655
3  2022-03-11T00:00:00  56.874  53.753    2.895
4  2022-03-27T00:00:00  66.738  52.951    3.123

In [7]:
temp.set_index('timestamp', inplace = True)
temp = temp.sort_index()
temp

                      rmssd  nremhr  entropy
timestamp
2022-02-27T00:00:00  52.053  53.789    2.833
2022-02-28T00:00:00  61.281  49.983    2.935
2022-03-01T00:00:00  59.392  50.798    2.943
2022-03-02T00:00:00  56.437  54.837    2.829
2022-03-03T00:00:00  54.982  52.368    2.927
2022-03-04T00:00:00  57.864  52.193    3.068
2022-03-05T00:00:00  51.532  57.260    2.960
2022-03-06T00:00:00  67.717  51.803    3.028
2022-03-07T00:00:00  59.663  50.971    2.882
2022-03-08T00:00:00  65.476  51.952    2.988
2022-03-09T00:00:00  58.852  55.352    2.904
2022-03-10T00:00:00  63.763  51.354    2.875
2022-03-11T00:00:00  56.874  53.753    2.895
2022-03-12T00:00:00  57.616  54.275    2.492
2022-03-13T00:00:00  48.934  55.720    2.865
2022-03-14T00:00:00  47.836  55.187    2.793
2022-03-15T00:00:00  47.788  54.820    2.733
2022-03-16T00:00:00  49.644  54.380    2.713
2022-03-17T00:00:00  52.401  55.061    2.936
2022-03-18T00:00:00  69.871  49.732    3.044
2022-03-19T00:00:00  67.399  50.473    3.111
2022-03-20T00:00:00  61.634  51.879    2.906
2022-03-21T00:00:00  70.011  52.312    3.205
2022-03-22T00:00:00  54.257  53.365    3.026
2022-03-23T00:00:00  55.223  54.812    2.955
2022-03-24T00:00:00  60.354  52.989    3.116
2022-03-25T00:00:00  77.498  50.452    3.211
2022-03-26T00:00:00  68.319  50.897    2.918
2022-03-27T00:00:00  66.738  52.951    3.123
2022-03-28T00:00:00  70.090  49.560    3.078
2022-03-29T00:00:00  69.852  50.005    3.028
2022-03-30T00:00:00  53.795  53.843    2.862
2022-03-31T00:00:00  54.374  54.912    2.964
2022-04-01T00:00:00  51.362  55.763    2.808
2022-04-02T00:00:00  59.850  52.718    3.041
2022-04-03T00:00:00  56.581  50.778    3.045
2022-04-04T00:00:00  38.967  57.986    2.553
2022-04-05T00:00:00  53.237  53.594    2.803
2022-04-06T00:00:00  61.240  51.390    2.882
2022-04-07T00:00:00  47.564  55.114    2.655
2022-04-08T00:00:00  37.880  58.243    2.614
2022-04-09T00:00:00  36.699  60.948    2.870
2022-04-10T00:00:00  37.723  59.664    2.669
2022-04-11T00:00:00  55.084  53.423    2.737
2022-04-12T00:00:00  47.950  56.420    2.720
2022-04-13T00:00:00  39.788  57.695    2.640
2022-04-14T00:00:00  47.024  57.972    2.721
2022-04-16T00:00:00  63.592  52.604    2.885
2022-04-17T00:00:00  48.144  57.817    2.795
2022-04-18T00:00:00  60.431  51.630    2.886
2022-04-19T00:00:00  63.483  51.449    2.959
2022-04-20T00:00:00  42.155  60.921    2.600
2022-04-21T00:00:00  56.527  52.400    2.814
2022-04-22T00:00:00  61.136  52.684    2.967

In [8]:
temp.to_csv('./Fitbit/ShiYangLee/Sleep/daily_hrv_full.csv')